h1{
    color:red;
    text-align: center;
    font-size: 30px;
}
p{
    text-align: justify;
    /*margin-right: 300px
    margin-left: 400px
    margin-top: 50px
    margin-bottom:90px
    margin:100px 50px 300px 80px*/
}
img{
    width: 200px;
    height: 200px;
    border-left :2px dashed red;
    border-radius : 50%;
    

}
body{
    background-color: white;