.header{
    background-color: none;
    color: white;
    text-align: center;
}
.header p{
    font-size: 40px;
    } 
#social{
    background-color:none;
}
#social ul{
    list-style: none;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(images/yuvibackground.jpng.jfif);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.header img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
   

 }
 .main{
     background-color:rgba(0,0,0,0.7);
     color:white;
     text-align:center;
     border-radius:20px;
     width:30%;
     height:60vh
 }

